{% extends 'base.html.twig' %}

{% block body %}
    <turbo-frame id="room_list">
        <div class="d-flex w-100">
            <div class="w-25">
                {{ render(controller('App\\Controller\\RoomController::index')) }}
            </div>
            <div class="w-75 p-2">
                <div class="d-flex justify-content-between">
                    <h3>{{ room.name }}</h3>
                    <form action="{{ url('room_delete', {id: room.id}) }}" method="post" data-turbo-frame="_top">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-outline-danger" onclick="return confirm('Are your sure?')">
                            <span class="bi bi-trash"></span>
                            Delete room
                        </button>
                    </form>
                </div>
                <br>

                <turbo-frame id="room_{{ room.id }}">
                    <div data-controller="newmessage"
                         data-newmessage-topic-value="{{ url('rooms_see', {id: room.id}) }}/new-messages"
                         data-newmessage-action-value="append"
                    >
                        {% for message in room.messages %}
                            {% include 'message/_message.html.twig' with { message: message } %}
                        {% endfor %}
                    </div>
                    <div>
                        {% include "message/_form.html.twig" with { form: form } %}
                    </div>
                </turbo-frame>
            </div>
        </div>
    </turbo-frame>
{% endblock %}

{% block title %}
    Room -  {{ room.name }}
{% endblock %}
